#grad {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  }
  
.column {
    float: left;
    width: 33.33%;
    text-align: center;
    padding-top: 50px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #left {
      text-align: left;
  }
  #right{
      text-align: right;
    
  }

  #middle{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
  }

  #icon {
      padding: 0px 20px 0px 60px;
  }

        input {

    
    box-shadow: 50px;
    border: 0px;
    border-radius: 25px;
    height: 40px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: rgba(235,215,214,255);
    box-shadow: 0px 10px 50px grey
    
    
  }

  .row,#calen{
      text-align: left;
  }

  .day {
      text-align: left;
      padding-left: 10%;

  }
  .temp {
    
      padding-left: 15px;
      
  }
  .tempmain {
    padding-top: 20px;
    font-size: 38px;
}

table{
  padding-top: 25px;
}
.main{
  padding-right: 15px;
  padding-top: 10px;
  font-size: 25px;
}
  p {
      letter-spacing: 10px;
      padding-left: 0px;
      padding-top: 0px;
      writing-mode: vertical-lr;
     text-orientation: upright;
      text-align: left;
  }
  .vl {
    border-left: 2px solid black;
    height: 40%;
  }
  .vlmain {
    border-left: 2px solid black;
    height: 40%;
  }
.pad{
  padding-right: 15px;
}

.pad{
  padding-right: 15px;
}
  #mid{
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20%;

  }
  .enlarge {
      font-size: 20px;
  }
  h4 {
      text-align: right;
      padding-right: 40px;
  }

  img{
      align-items: left;
      border-radius: 50%;
      padding: 50% 0 50% 0    
  }

  .bg{
    padding: 60px;
    border-radius: 50px;
    background-image: linear-gradient(to left, white, rgba(235,215,214,255));
    border: 5px pink;
    box-shadow: 0px 10px 50px grey
  }

  .enclosure{
    padding: 10%;
    background-color:rgba(235,215,214,255) ;
    
    
    
  }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #left{
    display: block;
  }
  #middle{
    display: block;
  }
  #right{
    display:block;
  }
}